*{
	margin:0;
	padding:0;
	box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

/* Button */
.btn{
  border-radius: 8px;
  padding: 12px 32px;
  text-align: center;
  transition: all 0.3s;
  font-weight: 500;
  border: none;
}

.btn-primary{
  background-color: #0A0D0D;
  color: #fff;
}

.btn.btn-primary:active, .btn-primary:hover{
  color: #000;
  background-color: #ededed;
}

.btn-ghost{
  background: none;
  border: 2px solid #E6E5E5;
}

.btn.btn-ghost:active, .btn-ghost:hover{
  border-color: #0A0D0D;
}

 /* Navbar */

#container-navbar{
  background-color: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(67, 123, 213, 0.1);
  
}

#logo{
  width: auto;
  height: 40px;
}

.navbar-nav{
  display: flex;
  gap: 12px;
}

a.nav-link.active{
  font-weight: 700;
}

.navbar-nav li{
  transition: all 0.3s;
  padding: 4px;
}

.navbar-nav li:hover{
  background-color: #ededed;
  border-radius: 4px;
}

.dropdown-menu li{
  transition: all 0.1s;
}

.dropdown-menu li a:hover{
  background-color: #ededed;
}

.button-nav{
  display: flex;
  gap: 12px;
}
  

 /* Footer */
  footer{
    background-color: #0A0D0D;
  }

  #container-footer{
    padding-top: 40px;
    padding-bottom: 40px;
  }

  #footer-content{
    display: flex;
    flex-wrap: wrap;
    gap: 128px;
    align-items: center;
  }

  #footer-desc{
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  #footer-text{
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  #footer-text img{
    height: 70px;
    width: auto;
  }

  #footer-text p{
    width: 368px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: justify;
    color: #B3B2B2;
  }

  #footer-sosmed ul{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 36px;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  #footer-sosmed li{
    padding: 10px;
    height: 50px;
    font-size: 36px;
  }

  #quick-link{
    display: flex;
    flex-wrap: wrap;
    gap: 136px;
  }

  .quick-link-item{
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .quick-link-item h3{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
  }

  .link-item ul{
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 0;
    margin: 0;
  }

  .link-item a{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #B3B2B2;
  }

  .link-item a:hover{
    color: #FFFFFF;
  }

  /* Copy Right */
#cp{
  background-color: #0A0D0D;
}

hr{
  background-color: #E2E9E9;
  height: 2px;
  margin: 0;
}

#copy-right-text{
  color: #FFFFFF;
  padding: 24px 0px;
  font-weight: 500;
}